
.info-container {
	display: grid;
	grid-template-columns: 45% 5%  45% ;
	position: absolute;
	justify-content: center;
	align-items: center;
	width: 80%;
	top: 25%;
	left: 10%;
	height: 60%;

	&__image {
		width: 100%;
		height: 100%;
		background-color: lightgray;
		grid-column-start: 1;
		grid-column-end: 2;
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		grid-column-start: 3;
		width: 100%;
		height: 100%;

		&__greeting {
			font-size: 6rem;
		}

		&__statement{
			font-size: 1.25rem;
		}

		&__contact {
			display: flex;
			flex-direction: column;
			
			&__wallet {
				display: flex;
				flex-direction: row;

				&__image {
					width: 72px;
					height: 72px;
				}

				&__address {
					display: flex;
					flex-direction: column;
					margin-bottom: 24px;
					font-size: 1.5rem;
					font-weight: 500;
					> p {
						margin :auto 0;
					}
				}
			}

			&__social {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
			}
		}
	}
}