.invalid-network-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    &__title {
        display: flex;
        align-items: center;
        background-color: #f04444;
        font-size: 2rem;
        border-radius: 4px;
        margin-bottom: 1rem;
        padding: 1rem;

        &__image {
            width: min(5vw, 5vh);
            margin-right: 1rem;

        }
    }

    &__body {
        font-size: 1rem;
    }
}

