.project-list-container {
	display: flex;
	flex-direction: column;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	background-color: white;

	&__navigation {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		&__button {
			width: 16px;
			height: 16px;
			border-radius: 50%;
			background-color: grey;
			margin-right: 4px;
			box-shadow: inset 0 0 2px 0 black;
			&:hover {
				cursor: pointer;
			}
		}
	}
}