.web3-message-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
    background-clip: text;
    color: transparent;
    margin-bottom: 0.4rem;
    /* ff 3.6+ */
    background-image: -moz-linear-gradient(
      90deg,
      rgba(194, 253, 188, 1) 25%,
      rgba(172, 225, 18, 1) 100%
    );

    /* safari 5.1+,chrome 10+ */
    background-image: -webkit-linear-gradient(
      90deg,
      rgba(194, 253, 188, 1) 25%,
      rgba(172, 225, 18, 1) 100%
    );

    /* opera 11.10+ */
    background-image: -o-linear-gradient(
      90deg,
      rgba(194, 253, 188, 1) 25%,
      rgba(172, 225, 18, 1) 100%
    );

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ACE112', endColorstr='#C2FDBC', GradientType=0 );

    /* ie 10+ */
    background-image: -ms-linear-gradient(
      90deg,
      rgba(194, 253, 188, 1) 25%,
      rgba(172, 225, 18, 1) 100%
    );

    /* global 94%+ browsers support */
    background-image: linear-gradient(
      90deg,
      rgba(194, 253, 188, 1) 25%,
      rgba(172, 225, 18, 1) 100%
    );

    &__image {
      display: flex;
      flex-direction: row;
      margin-right: 0.5rem;
    }
  }

  &__upvoted {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__interactive {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    &__write {
      font-size: 1rem;
      margin-right: 1rem;
    }

    &__button {
      display: flex;
      flex-direction: row;
      width: 50%;
      padding: 4px;
      justify-content: space-around;
      align-items: center;
      border-radius: 4px;

      /* ff 3.6+ */
      background: -moz-linear-gradient(
        90deg,
        rgba(91, 14, 100, 1) 0%,
        rgba(78, 17, 253, 1) 100%
      );

      /* safari 5.1+,chrome 10+ */
      background: -webkit-linear-gradient(
        90deg,
        rgba(91, 14, 100, 1) 0%,
        rgba(78, 17, 253, 1) 100%
      );

      /* opera 11.10+ */
      background: -o-linear-gradient(
        90deg,
        rgba(91, 14, 100, 1) 0%,
        rgba(78, 17, 253, 1) 100%
      );

      /* ie 6-9 */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4E11FD', endColorstr='#5B0E64', GradientType=0 );

      /* ie 10+ */
      background: -ms-linear-gradient(
        90deg,
        rgba(91, 14, 100, 1) 0%,
        rgba(78, 17, 253, 1) 100%
      );

      /* global 94%+ browsers support */
      background: linear-gradient(
        90deg,
        rgba(91, 14, 100, 1) 0%,
        rgba(78, 17, 253, 1) 100%
      );

      &__text {
        font-size: 1.2rem;
        color: #f6d1af;
      }

      &__image {
        width: 48px;
      }
      &:hover {
        cursor: pointer;
        box-shadow: inset 0 0 0 2px black;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .web3-message-container {
    &__interactive {
      &__button {
        &__text {
          display: none;
        }
      }
    }
  }
}
