.project-list-container {
  min-height: 80vh;
  display: grid;
  grid-template-rows: 90% 10%;
  
  &__navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-size: 1.25rem;
    margin: 0 8px;

    &--hide {
      visibility: hidden;
    }
  }
}