.project-content-container {
  display: grid;
  grid-template-columns: 45% 10% 45%;
  padding: 3rem 3rem;
  background-color: #092e50;
  color: white;
  border-top: 4px solid black;
  border-bottom: 4px solid black;

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  &__media {
    grid-column-start: 3;
    grid-column-end: 3;
  }
}

@media screen and (max-width: 900px) {
  .project-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > * {
      margin-bottom: 1rem;

    }
  }
}
