.project-content-container {
  display: flex;
  flex-direction: row;
  padding: 1rem 3rem;
  justify-content: space-between;
  background-color: #092e50;
  color: white;
  border-top: 4px solid black;
  border-bottom: 4px solid black;

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35%;
    height: auto;
  }

  &__media {
    width: 50%;
    height: 100%;
  }
}

@media screen and (max-width: 900px) {
    .project-content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-y: scroll;
        height: 100%;

        &__text {
            width: 100%;
        }
    }
}