.notification-container {
  position: absolute;
  display: flex;
  top: 15.5%;
  right: -50%;
  min-width: 200px;
  min-height: 24px;
  padding: 12px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: white;
  animation-name: slide-in-slide-out;
  animation-duration: 8s;

  &--message {
    font-size: 1.5rem;
    line-height: 0.25;
  }
}

body {
  overflow-x: hidden;
}
@keyframes slide-in-slide-out {
  10%,
  80% {
    right: 5%;
  }

  90% {
    right: -50%;
  }
}
