.project-text-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

  &__title {
    margin: 0;
    margin-bottom: 0.25rem;
    font-size: 4rem;
  }

  &__text {
    font-size: 1rem;

    &__point {
      margin: 0;
    }
  }
}

@media screen and (max-width: 900px) {
  .project-text-container {
    &__title {
      text-align: center;
    }
  }
}
